html {
  background-color: #f8f9fa;
}

.nav-link{
  color: white !important;

}

.navbar-brand{
  color: white !important;

}

#root {
  background-color: #f8f9fa;
}

.navbar-light .navbar-text {
  color: white !important
}


